<!--The content below is only a placeholder and can be replaced.-->
<nav class="navbar navbar-light bg-light justify-content-between">
  <a class="navbar-brand">Hello</a>
</nav>
<div class="row container" style="padding-top: 20px">
  <div class="col-sm-1"></div>
  <div class="col-sm-2">
    <p>Categoria</p>
    <select (change)="updateCat($event.target.value)">
      <option *ngFor="let category of cat">{{category}}</option>
    </select>
  </div>
  <div class="col-sm-2"></div>
  <div class="col-sm-2">
    <p>Producto</p>
    <select (change)="updateProd($event.target.value)">
      <option *ngFor="let product of prod">{{product}}</option>
    </select>
  </div>
  <div class="col-sm-2"></div>
  <div class="col-sm-2">
    <p>Marca</p>
    <select (change)="updateMarca($event.target.value)">
      <option *ngFor="let brand of marca">{{brand}}</option>
    </select>
  </div>
  <div class="col-sm-1"></div>
</div>
<div>
  <div style="display: block">
    <canvas baseChart width="600" height="200" [datasets]="barChartData" [labels]="barChartLabels" [options]="barChartOptions" [legend]="barChartLegend"
      [chartType]="barChartType" (chartHover)="chartHovered($event)" (chartClick)="chartClicked($event)"></canvas>
  </div>
</div>